extends layout

block content
	div(ng-controller='ApiCtrl')
		include navbar.jade
		
		h1 API
		ul
			li 
				a(href='/api/championships/overview') /api/championships/overview
				|  for available championships list
			li 
				a(href='/api/championships/overview/1980') /api/championships/overview/:decade
				|  for selected decade only
			li
				a(href='/api/example') /api/example
				|  for a complete example