extends layout

block content
	h1= title.toUpperCase()
	//p Welcome to #{title}
	ul
		li Type /championships for available championships list
		li Type /championships/year for selected year
		li Type /example for a complete example