extends layout

block content
	.header
		nav(role='navigation').navbar.navbar-inverse.navbar-fixed-top
			.navbar-header
				button(type='button', data-toggle='collapse', data-target='#ascoli-navbar-collapse-1').navbar-toggle
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a(href='/home', style='padding-bottom: 0px;').navbar-brand 
					img(src='img/ascoli-nel-cuore-small.png').ascoli-nel-cuore-small
					|  Ascoli nel Cuore
			#ascoli-navbar-collapse-1.collapse.navbar-collapse
				ul.nav.navbar-nav
					li.dropdown
						a(href='#', data-toggle='dropdown').dropdown-toggle 
							span.glyphicon.glyphicon-tower
							|  Championships
							b.caret
							ul.dropdown-menu
								li: a(href='#') Action1
								li: a(href='#') Action2
					li: a(href='#')
						span.glyphicon.glyphicon-glass
						|  Trophies
					li: a(href='/api') 
						span.glyphicon.glyphicon-cloud
						|  API

	div(ng-view)