extends layout

block content
    div(ng-controller='HomeCtrl')

        .container
            .jumbotron
                img(src='img/ascoli-nel-cuore.png')
                h1(ng-cloak) {{ 'SITE.NAME' | translate | uppercase }}
                p(translate, ng-cloak).lead SITE.DESCRIPTION