.header
    nav(role='navigation').navbar.navbar-inverse.navbar-fixed-top
        .navbar-header
            button(type='button', data-toggle='collapse', data-target='#ascoli-navbar-collapse-1').navbar-toggle
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a(href='/', style='padding-bottom: 0px;').navbar-brand 
                img(src='img/ascoli-nel-cuore-small.png').ascoli-nel-cuore-small
                | 
                span(translate='NAV.HOME', ng-cloak)
        #ascoli-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
                li.dropdown
                    a(href='#', data-toggle='dropdown').dropdown-toggle 
                        i.fa.fa-shield.fa-fw
                        | 
                        span(translate='NAV.CHAMPIONSHIPS', ng-cloak)
                        b.caret
                        ul.dropdown-menu
                            li: a(href='/championships') 
                                span(translate='NAV.OVERVIEW')
                            li.divider
                            each year in [1950, 1960, 1970, 1980, 1990, 2000, 2010]
                                li: a(href='#') 
                                    span(translate='CHAMPS.HEADER', translate-values='{ year: "' + year + '"}' , ng-cloak)
                li: a(href='#')
                    i.fa.fa-trophy.fa-fw
                    | 
                    span(translate='NAV.CUPS', ng-cloak)
                li: a(href='/api') 
                    i.fa.fa-cogs.fa-fw
                    | 
                    span(translate='API', ng-cloak)
            ul.nav.navbar-nav.navbar-right
                language-chooser